* {
   outline: none;
   border-radius: 6px;
   font-family: Roboto Bold;
   font-weight: bold;
}

#window {
   background-color: rgba(255, 255, 255, 0);
   border-radius: 5;
}

#input {
   background-color: rgba(255,185,221,0);
   box-shadow: none;
}

#outer-box {
   background-color: rgba(71,128,96,0.9);
   color: rgb(171,195,171);
   border-radius: 5;
}

#entry:selected {
   background-color: rgba(171,195,171,0.7);
   color: rgb(71,128,96);
   margin: 5px 5px 5px 5px;
}

#img {
   margin-right: 6px;
}
